@model ClassRegis.Models.ViewModel.ClassViewModel
@using ClassRegis.Extensions
@{
    ViewData["Title"] = "Create";
}
<h2>Create Class</h2>
<br /><br />
<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Classes.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Classes.Name" class="form-control" />
            </div>
            <span asp-validation-for="Classes.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Rooms"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Classes.roomId" asp-items="Model.Rooms.ToSelectListItem(Model.Classes.roomId)" class="form-control"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Subjects"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Classes.subjectId" asp-items="Model.Subjects.ToSelectListItem(Model.Classes.subjectId)" class="form-control"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Teachers"></label>
            </div>
            <div class="col-5">

                <input asp-for="Classes.Teachers.Name" readonly value="@Model.accountTeacher.Name" class="form-control" />
                <input hidden asp-for="Classes.Teachers.Id" value="@Model.accountTeacher.Id"  />

                @*<input asp-for="Classes.teacherId" readonly  value="@User.Identity.Name" />*@
            </div>

        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}