@model List<StudyClasses>
@{
    ViewData["Title"] = "ShowClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-area="Students" asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to List</a>

    <br /><br />
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Classes)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Classes.Subjects)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Classes.Teachers)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Classes.Rooms.Name)
            </th>
            <th>
                @*     @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().CutomerEmail)*@
            </th>
            <th>
                @*  @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().isConfirmed)*@
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @*Class*@
                    @Html.DisplayFor(m => item.Classes.Name)
                </td>
                <td>

                    @Html.DisplayFor(m => item.Classes.Subjects.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Classes.Teachers.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Classes.Rooms.Name)
                </td>
                <td>
                    @*  @Html.DisplayFor(m => item.CutomerEmail)*@
                </td>
                <td>
                    @*  @Html.DisplayFor(m => item.isConfirmed)*@
                </td>
                <td>
                    <partial name="_StudentsButtonPartial" model="item.Id" />
                </td>
               
            </tr>
        }
    </table>
</div>